.container{
    text-align: center;
}
.traffic-box{
    width: 100px;
    height: 245px;
    background: #000;
    border-radius: 20px;
    padding: 15px;
    margin: 20px auto;
}
.light{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin:5px auto;
    opacity: 0.3;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.on{
    opacity: 2;
}