.container {
  min-height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100%;
  justify-content: center;
  color: #e5e7eb;
}

.container h1 {
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-size: 2.4rem;
}

/* Traffic Light Box */
.traffic-box {
  background: #020617;
  padding: 20px 18px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

/* Lights */
.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.25;
  transition: all 0.4s ease;
}

/* Individual Colors */
.red {
  background: #dc2626;
}

.yellow {
  background: #facc15;
}

.green {
  background: #22c55e;
}

/* Active Glow */
.light.on {
  opacity: 1;
}

.red.on {
  box-shadow: 0 0 25px #dc2626, 0 0 50px rgba(220, 38, 38, 0.8);
}

.yellow.on {
  box-shadow: 0 0 25px #facc15, 0 0 50px rgba(250, 204, 21, 0.8);
}

.green.on {
  box-shadow: 0 0 25px #22c55e, 0 0 50px rgba(34, 197, 94, 0.8);
}

/* Buttons */
.buttons {
  display: flex;
  gap: 14px;
}

.buttons button {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(99, 102, 241, 0.6);
}

.buttons button:last-child {
  background: linear-gradient(135deg, #ef4444, #b91c1c);
}

.buttons button:last-child:hover {
  box-shadow: 0 12px 25px rgba(239, 68, 68, 0.6);
}
